:root {{
 	/* Monokai colours */
 	--monokai-black: {color0};
 	--monokai-red: {color1};
 	--monokai-green: {color2};
 	--monokai-yellow: {color3};
 	--monokai-purple: {color4};
 	--monokai-cyan: {color5};
 	--monokai-white: {foreground};
 	--monokai-bright-black: {color8};
 	--monokai-bright-yellow: {color11};
 	--monokai-bright-white: {color7};
 	--monokai-background: {background};
 	--monokai-foreground: {foreground};
 	/* Diskai colours */
 	--diskai-pink: {color9};
 	--diskai-light-pink: {color10};
 	--diskai-lilac: {color6};;
 	--diskai-light-blue: {color11};
 	--diskai-muted-purple: {color6};
 	--diskai-turquoise: {color2};
 	--diskai-dark-green: {color1};
     --diskai-muted-green: {color14};
 	--diskai-muted-white: {foreground}
}}
