:root {{

/* Background image in status picker, you can't change it if you already have an USRBG background */
//--status-background: url('https://i.imgur.com/yHP6sgj.png');

/* User button spacing */
--user-buttons-spacing: 8px;

/* Avatar position */
--avatar-left: 327.5px;
--avatar-bottom: 26.5px;

/* Avatar roundess */
--avatar-radius: 5px;

/* Status roundness */
--status-radius: 3px;

/* Server roundess */
--server-radius: 8px;

/* Avatar width in modals */
--avatar-width: 130px;

/* Change bonfire in modals */
--bonfire: url('https://nyri4.github.io/Comfy/assets/bonfire.gif');

/* Colored emoji picker */
--colored-emoji: grayscale(0%); /* Change the value to "100%" if you want the basic one */

/* Mention color */
--mention-color: {color2};
--unread-color: {color8};

/* Mention color in chat */
--mention-color-bar: {color4};
--mention-color-background: {color1}1f;
--mention-color-hover: {color1}26;

/* Vizality - Spotify seek bar color */
--spotify-in-discord__spotify-brand-color: {color6};

/* Powercord - Spotify seek bar color */
--spotify-color: {color6} !important;

/* User settings color (Mute, Deafen and settings) */
--user-buttons-color: {color5};

/* Chat buttons color */
--chat-buttons: {color5};

--streaming: {color5};

/* Status color */
--online: #43B581;
--iddle: #FAA61A;
--dnd: #F04747;
--offline: #747F8D;

/* Circles next to role names */
--role-circle: 5px;

/* Tooltips */
--tooltips: block; /* Set it to "none" if you don't want it */

/* Discord logo */
--discord-logo: none; /* Set it to "block" if you want it */
}}

body {{
--old-green: {color6} !important;
}}

.theme-dark {{
    --background-tertiary: {color0};
    --background-secondary: {color0};
    --background-secondary-alt: {color0};
    --background-primary: {color0};
    --background-mobile-primary: {color0};
    --background-mobile-secondary: {color8};
    --channeltextarea-background: {color8}12;
    --background-accent: {color6};
    --background-message-hover: transparent;
    --background-modifier-hover: {color1}33;
    --background-modifier-active: {color1}aa;
    --background-modifier-selected: {color8}4e;
    --deprecated-card-bg: #12141f63;
    --background-floating: #101320;
    --deprecated-quickswitcher-input-background:{color8}13;
    --elevation-low: none;
    --scrollbar-auto-thumb: #121722;
    --scrollbar-auto-track: #191f2e;
    --scrollbar-thin-thumb: #141925;
    --toast-background: {color0} !important;
    --toast-header: #101320 !important;
    --toast-contents: #23283d !important;
    --activity-card-background: #101320;
    --header-primary: var(--user-buttons-color);

}}

.theme-light {{ /* I don't support light theme it's just for the "Create a server" popup */
    --background-tertiary: {color0};
    --background-secondary: {color0};
    --background-secondary-alt: {color0};
    --background-primary: {color0};
    --background-accent: {color1};
    --background-modifier-hover: #262b41;
    --background-modifier-active: #262b41;
    --header-primary: #fff;
    --header-secondary: #b1b5b9;
    --text-normal: #8e9297;
}}

.theme-dark .root-lgCeng {{
	background-color: var(--background-primary) !important;
}}

.theme-dark .footer-2gL1pp {{
	background-color: var(--background-secondary) !important;
}}

.colorRed-1TFJan.lookFilled-1Gx00P, .item-3HknzM[data-item-id=ADD_FRIEND]{{
  background-color: var(--background-accent) !important;
}}
.circleIconButton-1QV--U {{
  color: var(--background-accent) !important;
}}
.circleIconButton-1QV--U.selected-1JjBPm {{
  color: #fff;
  background-color: var(--background-accent) !important;
}}
.colorStatusGreen-2saF4_ {{
	color: var(--background-accent) !important;
}}
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9 {{
    background: {color6} !important;
}}
.updateIconForeground-3tnNZn {{
    color: var(--background-accent) !important;
    fill: var(--background-accent) !important;
}}
