startup_commands    toggle_custom_color

search_url_l	https://annas-archive.org/search?q=
should_load_tutorial_when_no_other_file	0

multiline_menus 0

background_color    0.97 0.97 0.97
dark_mode_background_color    0.0 0.0 0.0

dark_mode_contrast 0.8

text_highlight_color    1.0 1.0 0.0

visual_mark_color    {color7.red} {color7.green} {color7.blue} 0.3

search_highlight_color  {color1.red} {color1.green} {color1.blue}

link_highlight_color    {color5.red} {color5.green} {color5.blue}

custom_background_color {background.red} {background.green} {background.blue}
custom_text_color {foreground.red} {foreground.green} {foreground.blue}

status_bar_color {color1.red} {color1.green} {color1.blue}
status_bar_text_color {background.red} {background.green} {background.blue}
status_bar_font_size 14

ui_font FONT
font_size 14
